.DiagramStep1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: url('/public/assets/imgs/Bg2.jpg');
  overflow-y: scroll; /* Ensure the container is scrollable */
  overflow-x: hidden;
}
.DiagramStep1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(1px);  
    -webkit-backdrop-filter: blur(1px); 
  z-index: -1;
}

.white-circle{
    position: absolute;
    width: 100vw; 
    height: 90vh; 
    margin-top: 20vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%; 
    z-index: 999; 

  
}
  
.title-DiagramStep1 {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  font-family: 'Karantina', cursive;
  font-size: 14vw;
  margin-top: 9vh;
  width: 100%;
  text-align: center;
  color: #50565c;
}

.subtext-DiagramStep1 {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  font-family: 'Assistant', sans-serif;
  font-size: 5vw;
  color: grey;
  text-align: center;
  margin-top: 48vh;
  width: 82vw;
  direction: rtl;
}

.btns-DiagramStep1 {
  position: absolute;
  width: 53vw;
  height: 30vh;
  font-family: 'Karantina', cursive;
  font-size: 11vw;
  color: rgb(49, 49, 49);
  border-radius: 5vw;
  text-align: center;
  padding-top: 2vh;
}
.Nafa-chose{
  position: absolute;
  width:30vw;
  height:auto;
  right:50%;
  transform: translateX(50%);
}
.text-choose{
  position: absolute;
  margin-top: 18vh;
  right:7vw;
  right:50%;
  transform: translateX(50%);


}
#btn1-DiagramStep1 {
 margin-top: 20vh;
    position: absolute;
    right: 26%;
    transform: translateX(50%);


}

#btn2-DiagramStep1 {
  margin-top: 20vh;
  left: -2vw;

}
#btn3-DiagramStep1{
  margin-top: 49vh;
  position: absolute;
  right: 26%;
  transform: translateX(50%);
}
#btn4-DiagramStep1{
  margin-top: 49vh;
  position: absolute;
  left: -2vw;
}
.text-gdud{
  color: #3c5c32;
}
.text-pikud{
  color: #ff7e00;
}
.text-mahoz{
  color: #1cb5e5;
}
.text-nafa{
  color: #21467a;
}


 .DiagramStep1 .navigation-btn{
 position: relative;
    bottom: -72vh;
    left: 76%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 260px;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 27px;
    Z-INDEX: 1000000;
}

.DiagramStep1.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.DiagramStep1 .left{
    transform: rotate(180deg);

}

.menu-back{
        text-align: center;
    font-family: 'Assistant', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #324978;
    width: 43vw;
    font-size: 5vmin;
    height: 6vh;
    padding-bottom: 1vh;
    border-radius: 20px;
    border: none;
    position: absolute;
    margin-top: 2vh;
    right: 50%;
    transform: translateX(50%);
}