.DiagramStep3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
}

.DiagramStep3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(1px);    /* טשטוש */
    -webkit-backdrop-filter: blur(1px); /* תמיכה בספארי */
    z-index: -1;
  }
 


.title-DiagramStep3 {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Karantina', cursive;
    font-size: 12vw;
    top: 24vh;
    width: 59%;
    text-align: center;
    color: #50565c;
}




.explanation-div-DiagramStep3 {
 position: relative;
    top: 23vh;
    background-color: #d9d9d9;
    width: 90vw;
    right: -45vw;
    margin-bottom: 9vw;
    border-radius: 6vw;
    direction: rtl;
}




.explanation-title-DiagramStep3 {
    font-family: 'Karantina', cursive;
    font-size: 8vw;
    text-align: center;
    margin-top: 2vh;
    padding-top: 2vh;
    color: rgb(58, 57, 57);
}

.explanation-text-DiagramStep3 {
 
    font-family: 'Assistant', sans-serif;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    direction: rtl;
    padding-right: 4vh;
    padding-left: 4vh;
    text-align: right;
    top: 2vh;
    position: relative;
    line-height: 5vh;
    padding-bottom: 2vh;
}

.explanation-text-scroll3{
  max-height: 40vh;
    min-height: 6vh;
    overflow-y: auto;
    text-align: right;
     padding-right: 4vh;
    padding-left: 4vh;
    text-align: right;
}
.small-text-drop3{
    font-size: 4vmin;
    direction: ltr;
    font-weight: 600;
    color: #4e4d4d;
    padding-bottom: 1vh;
}


.arrow-icon-diagram3{
    height: 3vh;
    width: auto;
    right: 4vw;
    position: relative;
    top: -3.42vh;
    padding-left: -23vw;
    margin-left: -230px;
    transform: rotate(180deg);
}

.arrow-icon-diagram3.rotated {
    transform: rotate(90deg);
}

.arrow-icon1-diagram3 {
height: 105vh;
    width: auto;
    position: relative;
    top: -3.5vh;
    left: -1vh;
    height: 3vh;
    width: auto;
}

.arrow-icon2-diagram3 {
    height: 3vh;
    width: auto;
    position: relative;
    top: -4vh;
}

.whiteCircle3-pikud{
       position: absolute;
    width: 180vw;
    height: 236vh;
    margin-top: 164vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
}


 .whiteCircle3{
    position: absolute;
    width: 180vw;
    height: 183vh;
    margin-top: 107vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
 }
 .hr1-step3 {
    right: 1vw;
    top: 29vh;
}
 .hr2-step3 {
    right: 1vw;
    top: 3vh;
}

.roles-div-DiagramStep3 {
    position: relative;
    padding: 20px;
    margin-top: 34vh;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.role1-container-DiagramStep3 {
    position: relative;
    background-color: #ffffff;
    padding: 1vh;
    margin-bottom: 15px; 
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    text-align: center;
    font-size: 6vw;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    font-family: "Karantina";
    color: #000000;
    font-size: 2em;
}
.inactive-role {
    border: 4px solid #636363;
        color:  #636363;


}

.first-img-step3 {
    height: 10vh; 
    width: auto; 
    display: block; 
    margin: 0 auto; 
}
.seconed-img-step3 {
    height: 7vh;
    width: auto; 
    display: block; 
    margin: 0 auto;
    margin-top: -2vh; 
}

.role-container-DiagramStep3 {
  position: relative;
    background-color: #ffffff;
    padding: 1vh;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 17vh;
    height: 17vh;
    text-align: center;
    font-size: 1.6em;
    border: 4px solid #636363;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Karantina";
    color: #50565c;
    word-wrap: break-word;
    white-space: normal;
}

.stpe3Img {
    position: relative;
    right: 0vw;
    top: 9vh;
    height: auto;
    width: 88vw;
}
.text3-img {
    position: relative;
    right: -58vw;
    top: 12vh;
    font-family: 'Assistant', sans-serif;
    font-size: 3.5vw;
    color: grey;
    width: 60vw;
}


.btn-prev{
     color: #212853;
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 10vh;
    position: relative;
    top: 9vh;
}
.whiteCircle3Dif{
    position: absolute;
    width: 180vw;
    height: 273vh;
    margin-top: 197vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
}


.DiagramStep3 .navigation-btn {
position: absolute;
    bottom: -22%;
    left: 83%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 260px;
    font-family: "Assistant", sans-serif;
    z-index: 1000000;
}

.DiagramStep3.next .prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: rgb(89, 89, 89);
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.DiagramStep3 .left {
  transform: rotate(180deg);
}

.DiagramStep3 .text-lable {
  text-align: center;
  position: relative;
  top: 10vh;
  color: #626262;
  font-weight: bold;
}