.ExcelMinala{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
  }
  .ExcelMinala::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .white-circle-ExcelMinala{
    position: absolute;
    width: 122vw;
    height: 180vh;
    margin-top: 105vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;

  }
    
  .titleExcelMinala{
      font-family: 'KARANTINA';
    color: rgb(89, 89, 89);
    font-size: 3em;
    margin-top: 10vh;
  }

  .fllow{
    position: absolute;
    width: 90vw;
    transform: translateX(50%);
    right: 50%;
    height: auto;
  }
.back-btn-ex{
 text-align: center;
    font-family: 'Assistant', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #0b2982;
    width: 46vw;
    height: 5vh;
    padding-top: 1vh;
    margin-top: 3vh;
    padding-bottom: 1vh;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 50%;
    font-size: 5vmin;
    transform: translateX(50%);
}




.excel2Img{
  width: 80vw;
  height: auto;
}

.buttons-containerExcel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 90vw; /* הגבלת הרוחב ל-90% מרוחב המסך */
  max-width: 1200px; /* למנוע פריסה רחבה מדי במסכים גדולים */
  margin-left: auto;
  margin-right: auto;
}

.excel-btn {
  width: calc(33.33% - 10px); /* שלושה כפתורים בשורה עם מרווח */
  padding: 10px 15px;
  font-size: 1em;
  font-family: "Assistant";
  text-align: center;
  background-color: rgb(133, 176, 225);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.excel-btn:hover {
  background-color:rgb(90, 127, 169);
}

.excel-Titles{
  font-family: 'Karantina';
  direction: rtl;
  text-align: right;
  color: rgb(89, 89, 89);
  padding-right: 20vw;
  font-size: 2em;
  padding-top: 3vh;
}
.excel-explanations{
  font-family: "Assistant";
  font-size: 1em;
  width: 90vw;
  position: relative;
  text-align: right;
  left: 10%;
}
.Wartext-img{
  position: relative;
  right: -19vw;
  top: 3vh;
  font-family: 'Assistant', sans-serif;
  font-size: 3.5vw;
  color: grey;
  width: 60vw;
}
   .ExcelMinala .navigation-btn{
      position: relative;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex
;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 260px;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 20px;
}

.ExcelMinala.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}




.ExcelMinala .left{
    transform: rotate(180deg);

}
