.Fields{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
  }
  .Fields::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(1px);    /* טשטוש */
    -webkit-backdrop-filter: blur(1px); /* תמיכה בספארי */
    z-index: -1;
  }
  
  .white-circle-Fields{
       position: absolute;
    width: 127vw;
    height: 163vh;
    margin-top: 85vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
  }
    
  .titleFields{
    font-family: 'KARANTINA';
    color: rgb(89, 89, 89);
    font-size: 3em;
  }
    




.txt-fields{
font-family: "Assistant";
    position: relative;
    width: 90vw;
    right: -17vw;
    color: #595959;
    font-size: 5vmin;
    direction: rtl;
    text-align: right;
}
  .Fields .navigation-btn{
    position: relative;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 53vw;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 20px;
}

.Fields.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}




.Fields .left{
    transform: rotate(180deg);

}


.Fields .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    color: #626262;
    font-weight: bold;
}
.FieldsImg{
position: relative;
    right: -7vw;
    width: 102vw;
    height: auto;
}