.HapakMichlala{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
  }
  .HapakMichlala::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(1px);    /* טשטוש */
    -webkit-backdrop-filter: blur(1px); /* תמיכה בספארי */
    z-index: -1;
  }
  
  .white-circle-HapakMichlala{
      position: absolute;
    width: 127vw;
    height: 132vh;
    margin-top: 55vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
  }
    
  .titleHapak{
    font-family: 'KARANTINA';
    color: rgb(89, 89, 89);
    font-size: 3em;
  }
    
.hapkMivne {
  width: 77vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.889);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transform: none;
}

.expanded-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
}
.XBtn-HAPAK{
    position: fixed;
    width: 5VW;
    position: AUTO;
}



.txt-hapak{
font-family: "Assistant";
    position: relative;
    width: 90vw;
    right: -17vw;
    color: #595959;
    font-size: 5vmin;
}
  .HapakMichlala .navigation-btn{
      position: relative;
    bottom: -6vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex
;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 53vw;   
     font-family: 'Assistant', sans-serif;
    margin-bottom: 20px;
}

.HapakMichlala.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}




.HapakMichlala .left{
    transform: rotate(180deg);

}


.HapakMichlala .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    color: #626262;
    font-weight: bold;
}
.HapakNav {
 background: linear-gradient(90deg, #142d42 0%, #3e5697 100%);
    border: none;
    color: white;
    padding: 12px 25px;
    margin: 12px 12px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    width: 45vw;
    font-family: 'Assistant';
    transition: all 0.3s 
ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HapakNav:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

/* סטייל לכפתורים שכבר נלחצו */
.HapakNav.visited {
    background: linear-gradient(90deg, #1e82df 0%, #9ca5fc 100%);
    color: white;
    transform: scale(0.95);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.HapakNav {
 background: linear-gradient(90deg, #142d42 0%, #3e5697 100%);
    border: none;
    color: white;
    padding: 12px 25px;
    margin: 12px 12px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    width: 40vw;
    font-family: 'Assistant';
    transition: all 0.3s 
ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HapakNav:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

/* סטייל לכפתורים שכבר נלחצו */
.HapakNav.visited {
    background: linear-gradient(90deg, #1e82df 0%, #9ca5fc 100%);
    color: white;
    transform: scale(0.95);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
