.Validiation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
  }
  .Validiation::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(1px);    /* טשטוש */
    -webkit-backdrop-filter: blur(1px); /* תמיכה בספארי */
    z-index: -1;
  }
  
  .white-circle-Validiation{
    position: absolute;
    width: 153vw;
    height: 360vh;
    margin-top: 291vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
  }
    
  .titleVal{
font-family: 'KARANTINA';
    color: rgb(89, 89, 89);
    font-size: 3em;
    margin-top: 9vh;
  }
    
  .sub-titleVal{
    font-family: 'KARANTINA';
    color: rgb(89, 89, 89);
    font-size: 2.5em;
    direction: rtl;
    text-align: right;
    padding-right: 34vw;
  }
  .container-btn{
    position: relative;
    width:80vw;
    height: auto;
  }
 
  .video-val{
    width:90vw;
    height: auto;
  }
  .explanationVal{
    font-family: "Assistant";
    width: 90vw;
    padding-right: 5vw;
    padding-left: 31vw;
    font-size: 1.1em;
  }
  .orders-val{
    text-align: right;
    width: 90vw;
    padding-left: 30vw;
    direction: rtl;
    font-family: "Assistant";
    font-size: 1.1em;
    margin-top: 5vh;
  }
 
    .Validiation .navigation-btn{
      position: relative;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex
;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 53vw;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 20px;
}

.Validiation.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}




.Validiation .left{
    transform: rotate(180deg);

}


.Validiation .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    color: #626262;
    font-weight: bold;
}
  
 