.header {
    position: fixed; 
    top: 0;
    width: 100%;
    height: 11vh;
    z-index: 10000;
    background-image: url('/public/assets/imgs/Bg3.png'); 
    background-size: cover;
    background-repeat: no-repeat;
 }
 .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.822); 
        backdrop-filter: blur(3px);  /* טשטוש */

    z-index: -1;
}

  .App-logo {
    height: 8vh;
    width: auto;
    position: fixed;
    top: 2vh;
    right: 5vw;
  }

.back-homeNav{
  height: 8vh;
  width:35vw;
  top: 2vh;
  right: 5vw;
  position: fixed;
  background-color: transparent;
  border: none;


}


  .right-logo-link {
    position: fixed;
    top: 10px;
    left: 10px; /* Positioning the icon to the left */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .home-icon {
    position: fixed;
    top: 2vh;
    left: 4vw;
    width: 12vw;
    height: auto;
    z-index: -1;
  }
  
 .hamburger{
    position: absolute;
    top:5%;
    left:5%;
 }