.homepage-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;

}

/* שכבת השחרה */
.homepage-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 145%;
    background: rgba(0, 0, 0, 0.815);
     backdrop-filter: blur(3px);    /* טשטוש */
    -webkit-backdrop-filter: blur(3px); /* תמיכה בספארי */
    z-index: -1;
}

    
    
    .home-title{
              font-family: "karantina";
        font-size: 3em;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        color: #ffffff;
        margin-top: -57vh;
        text-align: center;
    
    }
    
   
    .speech-container {
   margin-top: 30vh;
    width: 90vw;
    height: 69vh;
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1.1em;
    text-align: right;
    position: relative;
    color: white;
    
    box-sizing: border-box;
    }
    .speech{
     text-align: center;
    position: absolute;
    direction: rtl;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 5.5vmin;
    font-family: "Assistant";

    }
  
    
    
 .quote{
    width: auto;
    height: 8vh;
    position: absolute;
    margin-top: 3vh;
    z-index: 10000;
    right: 4vw;
 }
 



.credits{
    text-align: center;
    position: absolute;
    direction: rtl;
 text-align: center;
    position: absolute;
    direction: rtl;
    padding-right: 5vw;
    margin-top: 14vh;
    width: 74vw;
    color: rgb(58, 57, 57);
    font-family: "Assistant";
}

.greeting-div{
    position: relative;
    width: 75vw;
    right: -8%;
    height: 27vh;
    margin-top: 37vh;
    border-radius: 20px;
    background-color: white;
}

.logo1{
    position: absolute;
    width: 16vw;
    height: auto;
    margin-top: 2vh;
    right: 25%;
}
.logo2{
    position: absolute;
    width: 16vw;
    height: auto;
    margin-top: 2vh;
    right: 51%;
}
.footer{
    margin-top: 0vh;
    background-color: rgb(0 0 0);
    height: 5vh;
    width: 100vw;
    position: absolute;
}
.start-button{
position: absolute;
    margin-top: 118vh;
    background-color: #000000;
    color: #fff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 3em;
    width: 63vw;
    font-family: "Karantina", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.start-button:active{
    background-color: #ffffff;
    color:black;
}
