.MagnifyPic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.889);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transform: none; /* אם יש שינויים במידות עם transform - נוודא שאין */
}

.magnifyPic-content {
    position: relative;
    text-align: center;
}



/* סיבוב התמונה כאשר המכשיר במצב אופקי */
@media screen and (orientation: landscape) {
    .magnified-image-nafa-landscape {
        width: 65vw;
        top: 1vw;
        right: 19vw;
        z-index: 3;
        height: auto;
        position: fixed;
    }

    .magnified-image-gdud-landscape {
        width: 100vw;
        top: 1vw;
        right: 0vw;
        z-index: 3;
        height: auto;
        position: fixed;
    
    }

    .magnified-image-mahoz-landscape {
        width: 92vw;
        top: 0vw;
        right: 4vw;
        z-index: 3;
        height: auto;
        position: fixed;
    }

    .magnified-image-validation-landscape {
        width: 97vw;
        top: 7vw;
        right: 1vw;
        z-index: 3;
        height: auto;
        position: fixed;
    }
    .close-btn-landscape{
    color:black;
     position: absolute;
    top: 7px;
    right: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 40px;
    font-size: 3em;
    cursor: pointer;
    outline: none;
    transform: rotate(90deg);
    font-weight: bolder;
    z-index: 200000;
}
    } 


/* סיבוב התמונה כאשר המכשיר במצב אנכי */
@media screen and (orientation: portrait) {
    .magnified-image-nafa-portrait {
        width: 146vw;
    transform: rotate(90deg);
    top: 45vw;
    right: -23vw;
    z-index: 3;
    height: auto;
    position: fixed;
    }

    .magnified-image-gdud-portrait {
        width: 194vw;
        transform: rotate(90deg);
        top: 68vw;
        right: -44vw;
        z-index: 3;
        height: auto;
        position: fixed;
    }

    .magnified-image-mahoz-portrait {
        width: 174vw;
        transform: rotate(90deg);
        top: 62vw;
        right: -35vw;
        z-index: 3;
        height: auto;
        position: fixed;
    }

    .magnified-image-validation-portrait {
        width: 177vw;
        transform: rotate(90deg);
        top: 46vw;
        right: -33vw;
        z-index: 3;
        height: auto;
        position: fixed;
    }
        .magnified-image-training-portrait {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.magnified-image-fast-portrait{
           width: 85%;
        height: auto;
        object-fit: contain;
}
.magnified-image-hapak-portrait{
      width: 98%;
        height: auto;
        object-fit: contain;
}


 .close-btn-portrait {
color: white !important;
        position: absolute;
        top: 7px;
        right: 20px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        width: 55px;
        height: auto;
        font-size: 14vmin;
        cursor: pointer;
        outline: none;
        font-weight: bolder;
        z-index: 200000;
        font-family: "Assistant";
}

    
}

.close-btn-nafa {
    color: white;
}
