  body, html {
  overflow-x: hidden;
  overflow-y: auto;
}

  
  
  @media screen and (max-width: 768px)  {
      
.Menu-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
  

}

.Menu-container::before {
 content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 71%);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(1px);
        z-index: -1;
}
 
    
    .menu-main-title{
      font-family: "karantina";
        font-size: 3em;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        color: #ffffff;
        margin-top: -83vh;
        text-align: center;
    
    }
.buttons-container {
        position: absolute;
        margin-top: 5vh;
        right: 0%;
        width: 100vw;
        direction: rtl;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
}
.button-design.quiz-button {
    grid-column: 1 / span 2;  /* תופס את שתי העמודות */
    justify-self: center;      /* במרכז */
    margin-top: 2vh;           /* רווח מעל */
}

.button-design.locked {
    opacity: 0.5;           /* חצי שקוף */
    pointer-events: none;   /* לא ניתן ללחוץ עליו */
    filter: grayscale(100%); /* האייקון הופך לאפור */
    position: relative;
}

.button-design {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-title {
  font-family: 'ASSISTANT', sans-serif;
  color: white;
  width: 100%;
  font-size: 1.1em;  
  font-weight: bolder;
  margin-top: 1vh;  
  text-align: center;
  word-wrap: break-word;
  white-space: normal;   
}

      
      .icon-container {
        width: 14vh;
        height: 14vh;
        border-radius: 50%;
        background-color: rgb(0 0 0 / 82%);
        border: 2px solid white;
        display: flex;
        align-items: center; /* ממרכז אנכית */
        justify-content: center; /* ממרכז אופקית */
        position: relative; /* במידה ותוסיף אלמנטים נוספים */
      }
      
      .menu-icon {
        height: 8vh;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    
      .pressed{
         width: 14vh;
        height: 14vh;
        border-radius: 50%;
        background-color: rgb(0 0 0 / 82%);
        border: 2px solid #70cfed;
        position: relative;
      }
      .title-pressed{
        color: #70cfed;
      }

      
 .video-menu{
   width: 90vw;
        height: auto;
        top: 100vh;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
  }
  .video-menu.zoomed {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

    }


      @media screen and (min-width: 769px) and (max-width: 1024px)  {
      }
      @media screen and (min-width: 1025px)  {
        .Menu-container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
          background-image: url('/public/assets/imgs/Bg2Comp.jpg');
          overflow: hidden;

      }
      .Menu-container::before {
             content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: rgb(0 0 0 / 71%);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(1px);
        z-index: -1;
    }
    
    .home-title{
        font-family: "karantina";
        font-size: 8vmin;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        color: #ffffff;
        margin-top: -56vh;
        text-align: center;
    
    }
    .buttons-container {
              position: absolute;
        margin-top: 23vh;
        right: 50%;
        transform: translateX(50%);
        width: 100vw;
        direction: rtl;
        display: flex;
        gap: 6vh;
      
      }
      .button-design {
        width: 45%; /* כל כפתור תופס 35% מהמרווח */
        display: flex; /* השתמש ב-flexbox כדי למרכז את התוכן */
        flex-direction: column; /* התוכן יהיה מוערך אנכית */
        align-items: center; /* ממרכז את התוכן (אייקון וכותרת) בתוך הכפתור */
        justify-content: center; /* ממרכז אנכית */
        text-align: center; /* מיישר את הכותרת לאמצע */
        cursor: pointer;
      }
      .button-design:hover{
        transform: scale(1.2);
      }
     
    
      
      .icon-container {
        width:22vh;
        height: 22vh;
        border-radius: 50%;
        background-color: rgb(0 0 0 / 82%);
        border: 2px solid white;
        display: flex;
        align-items: center; /* ממרכז אנכית */
        justify-content: center; /* ממרכז אופקית */
        position: relative; /* במידה ותוסיף אלמנטים נוספים */
      }
      
      .menu-icon {
        height: 12vh;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .btn-title {
        font-family: 'HEEBO', sans-serif;
        color: white;
        width: 100%; /* וודא שהכותרת תופסת 100% מרוחב הדיב */
        font-size:3vmin;
        font-weight: bolder;
        margin-top: 0.5vh; /* שיפור המרווח בין האייקון לכותרת */
        text-align: center;
      }
      .pressed{
          width:22vh;
        height: 22vh;
        border-radius: 50%;
        background-color: rgb(0 0 0 / 82%);
        border: 2px solid #70cfed;
        display: flex
    ;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      .title-pressed{
        font-family: 'HEEBO', sans-serif;
        color: #70cfed;
        width: 100%; /* וודא שהכותרת תופסת 100% מרוחב הדיב */
        font-size:3vmin;
        font-weight: bolder;
        margin-top: 0.5vh; /* שיפור המרווח בין האייקון לכותרת */
        text-align: center;
      }


 
      }
