.slide-container {
    display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        overflow: hidden;
        margin-top: 2vh;
        position: relative;
}

.cardSlide {
  width: 51%;
    max-width: 400px;
    height:67vh;
    margin-top: 11vh;
    padding: 20px;
    background: #ADD8E6;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cardSlide-title {
    font-size: 3em;
    position: relative;
    font-weight: bold;
    margin-top: -9vh;
    font-family: "Karantina";
    color: #333;
  }
  
  .card-time {
    font-size: 1.4em;
    color: #666;
    position: relative;
    direction: rtl;
    margin-top: -8vh;
  }
  
 
  .cardSlide-text{
    font-family: "Assistant";
    font-size: 1.4em;
    text-align: right;
    direction: rtl;
    position: relative;
    top: -9vh;

  }
  

  .cardSlide-index {
    font-family: "Assistant";
    text-align: left;
    font-size: 2em;
    margin-top: 1vh; /* הוספתי מרווח קטן למעלה כדי לקרב את המונה לכותרת */
    margin-bottom: 0; /* אם יש מרווח גדול מדי למטה, זה יפחית אותו */
  }
  .card-color-0 {
    background-color: #A8D8FF; /* תכלת רך */
  }
  
  .card-color-1 {
    background-color: #FFB6B9; /* ורוד פסטל */
  }
  
  .card-color-2 {
    background-color: #FFF5BA; /* לימון פסטל */
  }
  
  .card-color-3 {
    background-color: #B5E8E0; /* ירוק מנטה */
  }
  
  .card-color-4 {
    background-color: #D1A6D3; /* סגול רך */
  }
  
  .card-color-5 {
    background-color: #FFD1B3; /* פסטל אפרסק */
  }
  
  .card-color-6 {
    background-color: #B3CDE0; /* כחול פסטל */
  }
  
  .card-color-7 {
    background-color: #F9E2A7; /* צהוב רך */
  }
  .gif-val{
    position: absolute;
    height:11vh;
    width: auto;
    top:3%;
  }