.all-steps-diagram {
  position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    width: 73vw;
    justify-content: center;
    direction: rtl;
    margin-top: 6vh;
  }
  
  .btn-steps-diagram {
    width: 19vh;
    height: 4vh;
    margin-right: 1vw;
    margin-left: 0vw;
    border-radius: 20px;
    padding-top: 1vh;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #d9d9d9;
    margin-top: 10vh;
  }

  .step1-diagram{
    text-align: center;
    font-family: 'Assistant', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #175a85;
    width: 54vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .arrow-down-diagram {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #d9d9d9;
    position: relative;
    top: 0vh;
    right: 10vw;
  }