.all-steps-Battelions {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex
;
  width: 90vw;
  justify-content: center;
  direction: rtl;
  margin-top: 4vh;
  z-index: 10000;
  }
  
  .btn-steps-Battelions {
    width: 85%;
    height: 9vh;
    margin-right: 1vw;
    margin-left: 0vw;
    border-radius: 20px;
    padding-top: -1vh;
    text-align: center;
    font-family: 'Karantina', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 3.5em;
    background-color: rgb(171 216 249);
    margin-top: 6vh;
    border: solid white 3px;
  }
  .btn-steps-Battelions.selected {
    background-color: rgb(136 186 223);  /* צבע הכפתור שנבחר */
    color: white; /* צבע הטקסט */
}

  .step1-Battelions{
    text-align: center;
    font-family: 'Assistant', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #4e89af;
    width: 59vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 20px;
    font-size: 1.3em;
    border: none;
    position: absolute;
    right: 50%;
    margin-top: -7vh;
    transform: translateX(50%);
  }

  .arrow-down-Battelions {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #d9d9d9;
    position: relative;
    top: 0vh;
    right: 10vw;
  }
  .order{
    position: absolute;
    margin-top: 5vh;
    font-family: "Assistant";
    right: 50%;
    width: 90vw;
    font-size: 1.1em;
    transform: translateX(50%);
  }