.Maintenance{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
  }
  .Maintenance::before {
  content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: rgb(0 0 0 / 71%);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        z-index: -1;
        z-index: -1;
  }
  
  .white-circle-Maintenance{
     position: absolute;
    width: 100vw;
    height: 173vh;
    margin-top: 98vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
  }
    
  .titleMa{
    font-family: 'KARANTINA';
    color: rgb(89, 89, 89);
    font-size: 3em;
    margin-top: 23vh;
    direction: rtl;
  }
    
  

  .Routine-btn-M{
  position: absolute;
    width: 28vw;
    right: 50%;
    top: 9vh;
    transform: translateX(50%);
    height: auto;
  }
  
  .Maintenance .navigation-btn{
    position: relative;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 53vw;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 20px;
}

.Maintenance.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}




.Maintenance .left{
    transform: rotate(180deg);

}


.Maintenance .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    color: #626262;
    font-weight: bold;
}


.MaImg{
  width: 100vw;
  height: auto;
}

.textMa{
  font-family: 'Assistant';
  font-size: 5vmin;
  text-align: right;
  color:rgb(58, 58, 58);
  padding-right: 5vw;
  padding-left: 5vw;
      direction: rtl;

}

.back-btn-Ma{
 text-align: center;
    font-family: 'Assistant', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #0b2982;
    width: 46vw;
    height: 5vh;
    padding-top: 1vh;
    margin-top: 3vh;
    padding-bottom: 1vh;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 50%;
    font-size: 5vmin;
    transform: translateX(50%);
}