.People{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;
  }
  .People::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.733);
     backdrop-filter: blur(3px);    /* טשטוש */
    -webkit-backdrop-filter: blur(3px); /* תמיכה בספארי */
    z-index: -1;
  }
  
  .white-circle-People{
    position: absolute;
    width: 100vw;
    height: 137vh;
    margin-top: 60vh;
    background-color: white;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
    z-index: 999;
  }
    
  .People .titleTra{
     font-family: 'KARANTINA';
    color: rgb(6 151 96);
    font-size: 3em;
  }
  .txt-People{
      font-family: 'Assistant';
  font-size: 5vmin;
  text-align: right;
  color:rgb(58, 58, 58);
  padding-right: 5vw;
  padding-left: 5vw;
  direction: rtl;
  }
.People .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}


.People .card {
    width: 30vw;
    height: 30vw; 
    background: #73e7ca; 
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #252525;
    font-size: 1.2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


/* כותרת כרטיסיות */
.People .card-title {
    font-family: "Assistant", sans-serif;
    color: #2d2d2d;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 0vh;
}

/* Overlay שמופיע כשהכרטיס נפתח */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* חצי שקוף */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* תוכן בתוך ה-overlay */
.overlay-content {
   background: #63c4ab; 
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: relative;
    text-align: left;
    animation: fadeIn 0.3s ease-in-out;
}
/* כפתור סגירה */
.People .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 6vmin;
    display: flex;
    font-family: "Karantina";
    align-items: center;
    justify-content: center;
}

/* כותרת overlay */
.People .overlay-content h2 {
    margin-bottom: 10px;
    font-size: 9vmin;
    text-align: center;
    font-family: "Karantina";
}

/* טקסט overlay */
.People .overlay-content p {
    font-size: 5vmin;
    line-height: 1.5;
    direction: rtl;
    text-align: right;
}

/* כותרת כרטיסיות */
.People .card-title {
    font-family: "Assistant";
    color: #2d2d2d;
    font-size: 5vmin;
    font-weight: bolder;
}
.People .card.active {
    background:#4c9683;     color: #fff; /* אפשר לשנות גם את הצבע של הטקסט */
}

 .People .navigation-btn{
        position: relative;
    bottom: -1vh;
    left: 49%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 53vw;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 27px;
    Z-INDEX: 1000000;
}

.People.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.People .left{
    transform: rotate(180deg);

}

.people .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    color: #626262;
    font-weight: bold;
}


.Ref2Img{
  width: 80vw;
  height: auto;
}

