.Ready-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;

}

/* שכבת השחרה */
.Ready-container::before {
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: rgb(0 0 0 / 71%);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(1px);
        z-index: -1;
}

    
 
    .title-container-ready{
        background-color: rgb(0 0 0 / 82%);
        border: white solid 3px;
        border-right: none;
        width: 94vw;
        right: 0vw;
        position: absolute;
        margin-top: -64vh;
        height: 12vh;
        z-index: -1;
        border-top-left-radius: 10vh;
        border-bottom-left-radius: 10vh;
        
        
    }
    .ready-title{
        font-family: "karantina";
        font-size: 3em;
        padding-left: 10vw;
        font-weight: 400;
        position: absolute;
        margin-top: 3vh;
        width: 90vw;
        color: #ffffff;
        text-align: left;
    
    }
    .icon-title-ready{
        position: absolute;
        height: 10vh;
        right: 9vw;
        margin-top: 1vh;
        width: auto;
    }
    .Ready-instructions{
      font-family: "Assistant";
      color: white;
      position: absolute;
      margin-top: 15vh;
      font-size: 5vmin;
      text-align: center;
      width: 100vw;
      right: 1vw;
    }
  




.venn-container {
  position: relative;
  right:5vw;
  /* width: 80vw;
  height: 80vw;
  max-width: 600px;
  max-height: 600px; */
  margin-top: 25vh ;
  /* border-radius: 50%;
  border: 3px solid white;
  background: conic-gradient(
   rgba(41, 102, 216, 0.8) 0deg 120deg,     
    rgba(235, 126, 16, 0.8) 120deg 240deg,  
    rgba(63, 184, 206, 0.8) 240deg 360deg     
 
   
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right:40%;
  transform: translateX(50%); */
}

.venn-circle {
position: absolute;
    /* top: 3em; */
    left: 8vw;
    width: 83vw;
    aspect-ratio: 1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    font-family: "Assistant", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 6vmin;

}

/* מיקום הטקסט במרכז כל שליש */
.circle-a{
  background:  rgba(41, 102, 216, 0.664);
}
.circle-a p{
position: absolute;
    top: 21%;
    right: 14%;
    z-index: 10000;
}
.circle-b p{
  position: absolute;
    top: 65%;
    right: 40%;
    z-index: 10000;

}
.circle-c p{
    position: absolute;
    top: 22%;
    right: 54%;
    z-index: 100000;

}
.circle-b{
  background:   rgba(235, 140, 45, 0.774);
  clip-path: polygon(-80% 180%, 50% 50%, 180% 180%, -80% 180%);
}
.circle-c{
  background:   rgba(20, 141, 95, 0.719);
  clip-path: polygon(-80% 0%, 50% 0%, 50% 50%, -80% 180%);
}
.circle-a.clicked{
  background:  rgb(16, 95, 243);
}
.circle-b.clicked{
  background:   rgb(255, 128, 0);
  clip-path: polygon(-80% 180%, 50% 50%, 180% 180%, -80% 180%);
}
.circle-c.clicked{
  background:   rgb(6, 151, 96);
  clip-path: polygon(-80% 0%, 50% 0%, 50% 50%, -80% 180%);
}






  .Ready-container .navigation-btn{
position: relative;
    bottom: -42vh;
    left: 46%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 55vw;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 27px;
    Z-INDEX: 1000000;
}

.Ready-container .next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.Ready-container .left{
    transform: rotate(180deg);

}

.Ready-container .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
}

.KOH{
    position: absolute;
    left: 37vw;
    top: 41vh;
    z-index: 1000;
    color: rgb(0, 0, 0);
    font-family: "Assistant";
    font-size: 6vmin;
    font-weight: bold;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #ffffff;
    line-height: 15vw; 
}