.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');
@import url(" https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");

.header-fixed{
  position: fixed; 
  z-index: 10000;
}

.home{
  z-index: 100;

}

.landscape-block{
  position:absolute;
  top:0vh;
  right:50%;
  transform: translateX(50%);
  width:100vw;
  height: 100vh;
  z-index: 10000;
  background-image: url('/public/assets/imgs/backgroundland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.4em;

}
.landscape-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background: rgba(0, 0, 0, 0.557);
  z-index: -1;
}

.warning{
  font-family: "Karantina";
  color: white;
  font-size: 2.6em;
}
.sorry{
  color: white;
  font-family: "Heebo";
  font-size: 1.2em;
}
.logo-white-app{
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width:40vw;
  height: auto;
}


.navigation-btn{
   position: relative;
    bottom: -9vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 260px;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 20px;
}

.next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}


.arrow {
    width: auto;
    height:5vh;
    margin: 0 1vw;
}

.left{
    transform: rotate(180deg);

}


.text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    color: #626262;
    font-weight: bold;
}

