.Emergency-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;

}

/* שכבת השחרה */
.Emergency-container::before {
 content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 110%;
background: rgba(0, 0, 0, 0.651);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(1px);
z-index: -1;
}

    
    
    .emergency-title{
        font-family: "karantina";
        font-size: 3em;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        color: #ffffff;
        margin-top: -56vh;
        text-align: center;
    
    }
   
    .title-container-emergency{
        background-color: rgb(0 0 0 / 82%);
        border: white solid 3px;
        border-right: none;
        width: 94vw;
        right: 0vw;
        position: absolute;
        margin-top: -64vh;
        height: 12vh;
        z-index: -1;
        border-top-left-radius: 10vh;
        border-bottom-left-radius: 10vh;
        
    }
    .emergency-title{
        font-family: "karantina";
        font-size: 3em;
        padding-left: 10vw;
        font-weight: 400;
        position: absolute;
        margin-top: 3vh;
        width: 90vw;
        color: #ffffff;
        text-align: left;
    
    }
    .icon-title-emergency{
        position: absolute;
        height: 10vh;
        right: 9vw;
        margin-top: 1vh;
        width: auto;
    }
    .emer-btn{
        background-color: #050506;
        border: solid 3px white;
        position: absolute;
        border-radius: 50px;
        width: 89vw;
        font-family: "Assistant";
        color: white;
        font-size: 1.5em;
        right: 54%;
        transform: translateX(50%);
        height: 9vh;
    }
    .firstBtn{
        position: absolute;
        margin-top: 27vh;
    }
    .seconedBtn{
        position: absolute;
        margin-top: 47vh;
    }
    .thirdBtn{
            position: absolute;
        margin-top: 65vh;
    }
    .btn-clicked{
        color:#70cfed;
        border: solid 3px #70cfed;

    }

    
  .Emergency-container .navigation-btn{
    position: relative;
    margin-top: 64vh;
    left: 46%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 260px;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 27px;
    Z-INDEX: 1000000;
}

.Emergency-container .next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.Emergency-container .left{
    transform: rotate(180deg);

}

.Emergency-container .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
}